<header>
    <div class="logo">
        <a href="/"><h1>ELECTROZONE</h1></a>
    </div>
    <form class="search-bar" action="/search" method="GET">
        <input type="text" id="search" name="search" placeholder="검색어를 입력해주세요" required>
        <button type="submit">검색</button>
    </form>
    <nav>
        <ul>
            <li><a href="https://www.notion.so/144639c362f381ef8edeec55cdf08e6b?source=copy_link">About Me</a></li>
            <li><a href="https://github.com/hsyang011/electrozone.git">GitHub</a></li>
        </ul>
    </nav>
</header>