/* 기본 스타일 */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

/* 폼 컨테이너 */
.form-container {
    width: 400px;
    margin: 30px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #5f87c2; /* 기본 색상 */
}

/* 폼 그룹 */
.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    color: #333;
}

input {
    width: 100%;
    padding: 10px;
    /*font-size: 16px;*/
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

input:focus {
    border-color: #5f87c2; /* 기본 색상 */
    outline: none;
}

/* 버튼 스타일 */
.submit-btn {
    width: 100%;
    padding: 12px;
    background-color: #5f87c2; /* 기본 색상 */
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.submit-btn:hover {
    background-color: #3d6ca3; /* 호버 색상 */
}

/* 링크 컨테이너 스타일 */
.link-container {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

/* 좌측 링크 */
.link-container .left-link {
    color: gray;
    text-align: left;
    text-decoration: none;
    font-size: 14px;
}

/* 우측 링크 */
.link-container .right-link {
    color: gray;
    text-align: right;
    text-decoration: none;
    font-size: 14px;
}

/* 링크 호버 스타일 */
.link-container a:hover {
    text-decoration: underline;
}
