<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ELECTRO ZONE 플랫폼</title>
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/table.css">
    <link rel="stylesheet" href="/css/cart.css">
</head>
<body>
<div class="container">
    <!-- 상단 링크 영역 -->
    <div th:replace="~{fragments/top-links.html}"></div> <!-- 상단 링크 포함 -->

    <!-- 헤더 영역 -->
    <header th:replace="~{fragments/header.html}"></header> <!-- 헤더 포함 -->

    <!-- 장바구니 테이블 -->
    <section class="cart-container">
        <div class="cart">
            <table class="cart-table">
                <thead>
                <tr>
                    <td colspan="5" class="cart-title">장바구니</td>
                </tr>
                <tr>
                    <th>상품명</th>
                    <th>이미지</th>
                    <th>수량</th>
                    <th>가격</th>
                    <th>삭제</th>
                </tr>
                </thead>
                <tbody id="cart-items">
                </tbody>
            </table>
        </div>

        <div class="order">
            <p><strong id="total-price">총 금액: &#8361;0원</strong></p>
            <button class="checkout-btn">주문하기</button>
        </div>
    </section>

    <!-- 푸터 영역 -->
    <footer th:replace="~{fragments/footer.html}"></footer> <!-- 푸터 포함 -->
</div>

<script src="/js/request.js"></script>
<script src="/js/cart.js"></script>
</body>
</html>
