<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ELECTRO ZONE 플랫폼</title>
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/table.css">
    <link rel="stylesheet" href="/css/checkout.css">
</head>
<body>
<div class="container">
    <!-- 상단 링크 영역 -->
    <div th:replace="~{fragments/top-links.html}"></div> <!-- 상단 링크 포함 -->

    <!-- 헤더 영역 -->
    <header th:replace="~{fragments/header.html}"></header> <!-- 헤더 포함 -->

    <!-- 주문 테이블 -->
    <section class="order-container">
        <div class="order-summary">
            <table class="order-table">
                <thead>
                <tr>
                    <td colspan="5" class="order-title">주문하기</td>
                </tr>
                <tr>
                    <th>상품명</th>
                    <th>이미지</th>
                    <th>수량</th>
                    <th>가격</th>
                </tr>
                </thead>
                <tbody id="order-items">
                </tbody>
            </table>
        </div>

        <div class="order-details">
            <form action="/api/checkout" method="POST" id="order-form" onsubmit="checkout(event)">
                <div class="form-group">
                    <label for="name">이름</label>
                    <input type="text" id="name" name="name" required>
                </div>

                <div class="form-group">
                    <label for="address">주소</label>
                    <input type="text" id="address" name="address" required>
                </div>

                <div class="form-group">
                    <label for="payment-method">결제 방법</label>
                    <select id="payment-method" name="paymentMethod" required>
                        <option value="kakao-pay">카카오페이</option>
                        <option value="toss-pay">토스페이</option>
                    </select>
                </div>

                <div class="form-group">
                    <button type="submit" class="checkout-btn">결제 진행</button>
                </div>
            </form>
        </div>
    </section>

    <!-- 푸터 영역 -->
    <footer th:replace="~{fragments/footer.html}"></footer> <!-- 푸터 포함 -->
</div>

<script src="/js/request.js"></script>
<script src="/js/order.js"></script>
</body>
</html>
