<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ELECTROZONE - 주문하기</title>
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/checkout.css">
    <link rel="stylesheet" href="/css/form.css">
</head>
<body>
<div class="container">
    <!-- 상단 링크 영역 -->
    <div th:replace="~{fragments/top-links.html}"></div>

    <!-- 헤더 영역 -->
    <header th:replace="~{fragments/header.html}"></header>

    <section class="checkout-container">
        <div class="checkout-left">
            <h2>배송지 정보</h2>
            <form action="/api/checkout" method="POST" name="checkoutForm">
                <label for="recipient">받는 분</label>
                <input type="text" id="recipient" name="recipient" placeholder="받는 분을 입력하세요">

                <label for="address">주소</label>
                <input type="text" id="address" name="address" placeholder="주소를 입력하세요">

                <label for="phone">전화번호</label>
                <input type="tel" id="phone" name="phone" placeholder="전화번호를 입력하세요">

                <h2>주문 상품</h2>
                <div id="order-item"></div>
            </form>
        </div>

        <div class="checkout-right">
            <h2>주문결제 금액</h2>
            <div id="payment">
                <p><strong>상품금액:</strong> 88,700원</p>
                <p><strong>배송비:</strong> 3,000원</p>
                <p><strong>총 결제 금액:</strong> 91,700원</p>
            </div>

            <h3>결제 방법</h3>
            <select name="payment-method" id="payment-method">
                <option value="kakao-pay">카카오 페이</option>
                <option value="naver-pay">네이버 페이</option>
                <option value="credit-card">신용카드</option>
            </select>

            <button class="checkout-btn" onclick="checkout()">결제하기</button>
        </div>
    </section>

    <!-- 푸터 영역 -->
    <footer th:replace="~{fragments/footer.html}"></footer>
</div>

<script src="/js/request.js"></script>
<script src="/js/checkout.js"></script>
</body>
</html>
