<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ELECTRO ZONE 플랫폼</title>
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
<div class="container">
    <!-- 상단 링크 영역 -->
    <div th:replace="~{fragments/top-links.html}"></div> <!-- 상단 링크 포함 -->

    <!-- 헤더 영역 -->
    <header th:replace="~{fragments/header.html}"></header> <!-- 헤더 포함 -->

    <!-- 광고 배너 -->
    <div th:replace="~{fragments/ad-banner.html}"></div> <!-- 광고 배너 포함 -->

    <!-- 페이지별 콘텐츠 -->
    <section>
        <h2>최신 상품</h2>
        <div class="product-list">
            <div th:each="product : ${top6LatestProducts}" class="product-item" th:onclick="|location.href='@{/products/{id}(id=${product.productId})}'|">
                <img th:src="@{${product.imageUrl}}" alt="상품">
                <p th:text="${product.name}"></p>
                <span th:text="|&#8361;${#numbers.formatInteger(product.price, 0, 'COMMA')}|"></span>
            </div>
        </div>
    </section>

    <section class="categories">
        <h2>모든 카테고리</h2>
        <div class="category-list">
            <div class="category-item" onclick="getProductsByCategory('CPU')">CPU</div>
            <div class="category-item" onclick="getProductsByCategory('MAINBOARD')">메인보드</div>
            <div class="category-item" onclick="getProductsByCategory('MEMORY')">메모리</div>
            <div class="category-item" onclick="getProductsByCategory('GPU')">그래픽카드</div>
            <div class="category-item" onclick="getProductsByCategory('SSD')">SSD</div>
            <div class="category-item" onclick="getProductsByCategory('HDD')">하드디스크</div>
            <div class="category-item" onclick="getProductsByCategory('CASE')">케이스</div>
            <div class="category-item" onclick="getProductsByCategory('POWER')">파워</div>
            <div class="category-item" onclick="getProductsByCategory('CPU_COOLER')">CPU쿨러</div>
            <div class="category-item" onclick="getProductsByCategory('SOFTWARE')">소프트웨어</div>
            <div class="category-item" onclick="getProductsByCategory('MONITOR')">모니터</div>
            <div class="category-item" onclick="getProductsByCategory('MOUSE')">마우스</div>
            <div class="category-item" onclick="getProductsByCategory('KEYBOARD')">키보드</div>
            <div class="category-item" onclick="getProductsByCategory('SPEAKER')">스피커</div>
            <div class="category-item" onclick="getProductsByCategory('HEADSET')">헤드셋</div>
        </div>
    </section>

    <section>
        <h2>인기 상품</h2>
        <div class="product-list" id="product-list">
            <div th:each="product : ${top12PopularProducts}" class="product-item" th:onclick="|location.href='@{/products/{id}(id=${product.productId})}'|">
                <img th:src="@{${product.imageUrl}}" alt="상품">
                <p th:text="${product.name}"></p>
                <span th:text="|&#8361;${#numbers.formatInteger(product.price, 0, 'COMMA')}|"></span>
            </div>
        </div>
    </section>

    <!-- 푸터 영역 -->
    <footer th:replace="~{fragments/footer.html}"></footer> <!-- 푸터 포함 -->
</div>

<script src="/js/home.js"></script>
</body>
</html>
