<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ELECTRO ZONE 플랫폼</title>
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/product.css">
</head>
<body>
<div class="container">
    <!-- 상단 링크 영역 -->
    <div th:replace="~{fragments/top-links.html}"></div>

    <!-- 헤더 영역 -->
    <header th:replace="~{fragments/header.html}"></header>

    <!-- 상품 상세 영역 -->
    <div class="product-detail">
        <!-- 이미지 영역 -->
        <div class="image-section">
            <img th:src="@{${product.imageUrl}}" alt="상품 이미지">
        </div>

        <!-- 상품 정보 영역 -->
        <div class="info-section">
            <h1 th:text="${product.name}"></h1>
            <div class="price">
                <span th:text="|&#8361;${#numbers.formatInteger(product.price, 0, 'COMMA')}|"></span>
            </div>
            <div class="description">
                <p th:text="${product.specs}"></p>
            </div>

            <!-- 옵션 선택 영역 -->
            <div class="options">
                <div>
                    <label for="quantity">수량 선택</label>
                    <select id="quantity" name="quantity" th:onchange="updateTotalPrice([[${product.price}]])">
                        <!-- 수량 옵션 1~5까지 -->
                        <option value="1">1개</option>
                        <option value="2">2개</option>
                        <option value="3">3개</option>
                        <option value="4">4개</option>
                        <option value="5">5개</option>
                    </select>
                </div>
            </div>

            <!-- 총 금액 표시 -->
            <div class="price" id="totalPrice">
                <p th:text="|총 금액 : &#8361;${#numbers.formatInteger(product.price, 0, 'COMMA')}|"></p>
            </div>


            <!-- 버튼 그룹 -->
            <div class="button-group">
                <button type="button" th:onclick="addToCart([[${product.productId}]])">장바구니에 담기</button>
                <button type="button">바로 구매</button>
            </div>
        </div>
    </div>

    <!-- 상품 리뷰 영역 -->
<!--    <div class="reviews">-->
<!--        <h3>상품 리뷰</h3>-->
<!--        <div th:each="review : ${product.reviews}" class="review-item">-->
<!--            <div class="reviewer" th:text="${review.reviewerName}"></div>-->
<!--            <div class="review-text" th:text="${review.content}"></div>-->
<!--        </div>-->
<!--    </div>-->

    <!-- 푸터 영역 -->
    <footer th:replace="~{fragments/footer.html}"></footer>
</div>

<script src="/js/request.js"></script>
<script src="/js/product.js"></script>
</body>
</html>
